{% extends 'base.html.twig' %}

{% block title %}WikiJòcs{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'navbar.html.twig' %}
    <div class="test"></div>
    {% include 'footer.html.twig' %}
{% endblock %}
