<hr class="hr-bottom">
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="titre-footer">Menu</h3>
                <ul>
                    <li><a href="{{ asset('index.php') }}">Accueil</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Connexion</a></li>
                    <li><a href="#">Inscription</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="titre-footer">Newsletter</h3>
                <p class="texte-footer">Souscrire à notre newsletter pour recevoir nos dernières actualités</p>
                <form action="#" method="post">
                    <input type="email" name="email" placeholder="Entrer votre email">
                    <input type="submit" name="submit" value="Souscrire">
                </form>
            </div>
            <div class="col-md-4">
                <h3 class="titre-footer">Suivez-nous</h3>
                <ul>
                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i>  Facebook</a></li>
                    <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i>  Twitter</a></li>
                    <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i>  Instagram</a></li>
                    <li><a href="https://www.youtube.com/"><i class="fa fa-youtube"></i>  Youtube</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="texte-footer">© 2023 - Tous droits réservés</p>
            </div>
    </div>
</footer>