<hr>
<ul class="navbar-header">
    <li class="animate__animated animate__zoomIn"><a href="#">Coucou</a></li>
    <li class="animate__animated animate__zoomIn"><a href="#">Salut</a></li>
    <li class="animate__animated animate__zoomIn"><a href="#">Bonjour</a></li>
    <li class="animate__animated animate__zoomIn"><a href="#">Hello</a></li>
    <li class="animate__animated animate__zoomIn"><a href="#">Hola</a></li>
</ul>