<ul class="navbar-header">
    <li class="animate__animated animate__zoomIn"><a href="#">Action</a></li>
    <li class="animate__animated animate__zoomIn"><a href="#">Aventure</a></li>
    <li class="animate__animated animate__zoomIn"><a href="#">RPG</a></li>
    <li class="animate__animated animate__zoomIn"><a href="#">Simulation</a></li>
    <li class="animate__animated animate__zoomIn"><a href="#">Stratégie</a></li>
    <li class="animate__animated animate__zoomIn"><a href="#">Sport</a></li>
</ul>