<hr>
<ul class="navbar-header">
    <li><a href="#">Coucou</a></li>
    <li><a href="#">Salut</a></li>
    <li><a href="#">Bonjour</a></li>
    <li><a href="#">Hello</a></li>
    <li><a href="#">Hola</a></li>
</ul>